/* TODO: Play with CSS Vars */

@media screen {
  .page {
    margin: 0.5in;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }
}
